//
// Badges
// --------------------------------------------------

$s7nxt-badge-name: "o-badge" !default;

@if ($s7nxt-enable-badges == true) {

    .#{$s7nxt-badge-name} {
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: $s7nxt-font-size--small;
        font-weight: $s7nxt-badge-font-weight;
        color: $s7nxt-badge-color;
        line-height: $s7nxt-badge-line-height;
        vertical-align: middle;
        white-space: nowrap;
        text-align: center;
        background-color: $s7nxt-badge-bg;
        border-radius: $s7nxt-badge-border-radius;
        text-decoration: none;

        // Empty badges collapse automatically (not available in IE8)
        &:empty {
            display: none;
        }

        // Quick fix for badges in buttons
        .o-btn & {
            position: relative;
            top: -1px;
        }

        .o-btn--xs &,
        .o-btn-group-xs > .o-btn & {
            top: 0;
            padding: 1px 5px;
        }

        // [converter] extracted a& to a.badge

        // Account for badges in navs
        .list-group-item.active > &,
        .nav--pills > .active > a > & {
            color: $s7nxt-badge-active-color;
            background-color: $s7nxt-badge-active-bg;
        }

        .list-group-item > & {
            float: right;
        }

        .list-group-item > & + & {
            margin-right: 5px;
        }

        .nav--pills > li > a > & {
            margin-left: 3px;
        }

        @at-root a.#{$s7nxt-badge-name} {
            &:hover,
            &:focus {
                color: $s7nxt-badge-link-hover-color;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

}
